<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/scripts/indexQuestionario.js"></script>
    <script type="module" src="/scripts/index.js"></script>
    <link rel="stylesheet" href="/styles/questionario.css" />

    <title>Questionário</title>
  </head>
  <body>
    <main></main>
  </body>
</html>
