<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hypogram</title>
    <link rel="stylesheet" href="./styles/logincadastro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <script type="module" src="./scripts/index.js" defer></script> -->
</head>

<body>
    <main>
        <form id="FormCadastro">
            <div>
                <h1 class="titulo">Cadastro</h1>
                
                <div class="retangulo_branco">
                    <input type="text" name="nome" id="name" placeholder="Nome"></input>
                </div>

                <div class="retangulo_branco">

                    <input type="Email" name="email" id="email" placeholder="E-mail"></input>
                    <i class="fas fa-envelope icon-email"></i>
                </div>

                <div class="retangulo_branco">
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                </div>
                
                <div class="retangulo_branco">
                    <input type="password" name="confirmar_senha" id="confirmar_senha" placeholder="Confirmar senha">
                    <!-- <i class="fas fa-eye" id="togglePassword"></i> -->
                </div>
                
                <div id="cadastrar" class="retangulo_cinza">
                    <button>Cadastrar</button>
                </div>

                <div id="voltar" class="retangulo_cinza">
                    <button>Voltar</button>
                </div>
            </div>
        </form>
    </main>
    
</body>
</html>