<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado</title>
    <link rel="stylesheet" href="../view/styles/certificado.css">
    <script type="module" src="scripts/index.js" defer></script>
</head>
<body>
    <main>
        <div class="certificado" id="certificado">
            <div class="certificado-border">
                <div class="certificado-content">
                    <h1>CERTIFICADO</h1>
                    <h3>ESTE CERTIFICADO COMPROVA QUE</h3>
                    <p class="nome" id="nome-aluno">Nome do aluno(a)</p>
                    <h3>CONCLUIU COM ÊXITO O CURSO SOBRE METODOLOGIA SCRUM.</h3>
                    <h3>EMITIDO EM <span id="data">00/02/2024</span></h3>
                    <div class="footer">
                        <div>
                            <p>Equipe Hypogram</p>
                            <p>CNPJ 00-000.000/0000-00</p>
                        </div>
                        <div>
                            <p>Hypscrum Cursos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        function preencherNomeAluno(json) {
        const nomeAluno = json.nome;
        const elementoNomeAluno = document.getElementById('nome-aluno');
        elementoNomeAluno.textContent = nomeAluno;
        }

        const dadosAluno = { "nome": "Gustavo Moraes" };
        preencherNomeAluno(dadosAluno);

        function inserirDataAtual() {
            const dataAtual = new Date();

            const dia = String(dataAtual.getDate()).padStart(2, '0'); 
            const mes = String(dataAtual.getMonth() + 1).padStart(2, '0'); 
            const ano = dataAtual.getFullYear(); 
            const dataFormatada = ${dia}/${mes}/${ano};

            const elementoData = document.getElementById('data');
            if (elementoData) {
                elementoData.textContent = dataFormatada;
                  }
        }

        function imprimirCertificado() {
            const certificado = document.getElementById('certificado');
            if (certificado) {
                window.print();
            }
        }

        inserirDataAtual();

    </script>

</body>
</html>