<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hypogram</title>
    <link rel="stylesheet" href="./styles/logincadastro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <script type="module" src="./scripts/index.js" defer></script> -->
</head>

<body>
    <main>
        <form id="FormLogin">
            <div class="fundo">
                <h1 class="titulo">Login</h1>

                <div class="retangulo_branco">
                    <input type="Email" name="email" id="email" placeholder="E-mail"></input>
                </div>

                <div class="retangulo_branco">
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                </div>

                
                <div class="textos">
                    <button class="texto_individual">Cadastre-se</button>
                    <!-- <button class="texto_individual">Esqueci minha senha</button> -->
                </div>
        

                <div id="login" class="retangulo_cinza">
                    <button>Login</button>
                </div>

                <div id="voltar" class="retangulo_cinza">
                    <button>Voltar</button>
                </div>
            </div>
        </form>
    </main>
    
</body>
</html>