<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hypogram</title>
    <link rel="stylesheet" href="./styles/precertificado.css">
    <script type="module" src="./scripts/index.js" defer></script>

</head>
<body>
    <main>
            <img src="../public/imgs/pre-certificado.svg" alt="">
            <a href="certificado.html" class="button1" type="button">Gerar Certificado</a>
            <a href="index.html" class="button2" type="button">Página Inicial</a>
    </main>

    
</body>
</html>