@import 'header.css';
@import 'footer.css';
@import "questionarioModal.css";
@import 'global.css';
@import "hypogram.css";


p, li, label{
    font-size: 1.6rem;
    text-align: justify;
} 


.topico h2 {
    text-align: left;
    align-self: flex-start;
} 

.linhas-framework{
    display: flex;
    justify-content: space-around;
    
 } 

 .linhas-framework-imagem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    
 } 

 /* .linhas-framework > div{
    width: 40%;
 }  */

 .imagens-framework{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
 }
