@import 'global.css';
@import 'header.css';
@import 'footer.css';
@import "questionarioModal.css";

h1{
    font-size: var(--h1);
}

h2{
    font-size: var(--h2);
}

p, li, label{
    font-size: 1.6rem;
    text-align: justify;
}

main{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--main-bg);

}

.container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: var(--container);
    margin-top: 5rem;
    width: var(--container);
}

.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
}

.topico h2 {
    text-align: left;
    align-self: flex-start;
}

 .linhas-framework{
    display: flex;
    justify-content: space-around;
    
 }

 .linhas-framework-imagem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    
 }

 .linhas-framework > div{
    width: 40%;
 }

 .imagens-framework{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
 }

 .next-previous{
    width: 100%;
    display: flex;    
    justify-content: space-between;
    font-size: var(--normal);
    margin: 5rem 0rem ;
}